body {
    display: grid;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

#page_header {
    display: grid;
    min-height: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    margin-top: 10px;
}

#img_header {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 22.5px;
    margin-left: 15px;
    justify-self: start;
}

#nav_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.a_nav_header {
    color: black;
    text-decoration: none;
}

.a_nav_header:hover {
    background-color: rgb(236, 207, 207);
}

